[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1.0"
psycopg2-binary = "==2.8.5"
django-crispy-forms = "==1.9.2"
django-allauth = "==0.42.0"

[requires]
python_version = "3.8"
